.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.title {
    color: white;
}

.backBtn {
    margin-right: 20px;
    font-size: 32px;
    color: white;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.forecastContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 15px;
}