@font-face {
    font-family: "Hahmlet";
    src:local("Hahmlet"),
        url("./fonts/Hahmlet-Thin.woff") format("woff");
}

* {
    font-family: "Hahmlet";
    font-weight: thin;
}

body {
    background-color: #000;
}

.container {
    margin-left: 15px;
}

.city_input {
    color: #fff;
    outline: none;
    background-color: inherit;
    font-size: 30px;
    border: none;
    border-bottom: #fff 1px solid;
}

.city_input::placeholder{
    color: white;
    font-family: "Hahmlet";

}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: white;
}

.error {
    font-size: 36px;
    color: white;
}